<div class="footer">
  <nav role="navigation" class="navbar navbar-default text-center">
    <span class="script text-shadow" style="font-size: 30px;">Created by Kyle Annen - Currently for Hire</span><br>
    <span class="title-script text-shadow">
      <%= link_to "Github", "https://github.com/kyle-annen" %>
       - 
      <%= link_to "Linked in", "https://www.linkedin.com/in/kyleeannen" %>
       - 
       <%= mail_to "kyleannen@gmail.com", "Email", :encode => "hex" %>
  </nav> 
</div>
